<div id = "begining">
  <div id = "tracked" >
    Obserwujesz użytkownika {{user$.username}} 
  </div>  
  <div id = "tracking" >
      Logname 
  </div> 
  <div id = "line" >
      |
  </div>
  <div id = "Logout" (click)="logout()">
      Wyloguj 
  </div> 
  <div class="middle" style= "clear:both"></div>                      
</div>
<div id="container1">
  <div id="sectionTitle">
    <h1>
      {{ title }} 
    </h1>
  </div>
  <div id="back">
    <i (click)="goBack()" class="material-icons">arrow_back</i>
  </div>
  <div id="home">
      <a routerLink="/home2" [class.activated]="currentUrl == '/home2'">
        <i class="material-icons">home</i>
      </a>
  </div>
</div>
<div id="block" >
  
 
</div>

<router-outlet></router-outlet>
