/* .part
{
  box-shadow:inset 0 0 50px #074681;
  width: 980px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 10px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #110831;
  border-color: #4d50f1;
  border-bottom-style: groove;
} */

.part
{
  box-shadow:inset 0 0 50px #aa9a0a;
  width: 980px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  font-size: 10px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #475302;
  border-color: #cc5a0e;
  border-bottom-style: groove;
}

.textpart
{
  width: 980px;
  /* height: 30px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  background-color: rgb(172, 214, 55);
  font-style: italic;
}

#blockNet
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  /* background-color: rgb(184, 39, 160); */
} 

#bookmarkPanel
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  /* padding-left: 30px; */
  /* margin-bottom: 30px; */
}

.bookmark
{
  background-color: #3dac4d;
  width: 500px;
  height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.bookmarkActive
{
  background-color: #3dac4d;
  /* width: 313px; */
  width: 500px;
  height: 30px;
  font-weight: 700;
  color: #173017;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #173017;
}

#bookmarkPanelSecond
{
  width: 1000px;
  margin-bottom: 30px;
}

.bookmarkSecond
{
  background-color: #5df173;
  width: 250px;
  height: 30px;
  color: #ffffff;
  font-weight: 700;
}

.bookmarkActiveSecond
{
  background-color: #5df173;
  /* width: 313px; */
  width: 250px;
  height: 30px;
  font-weight: 700;
  color: #173017;
  border-bottom-width: 4px;
  border-right-width: 4px;
  border-color: #173017;
}

.areaSecond
{
  /* box-shadow:inset 0 0 100px #235169; */
  box-shadow:inset 0 0 100px  #6be41b;
  width: 940px;
  /* height: 610px; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 35px;
  padding: 30px;
  color: #110831;
  font-stretch: ultra-expanded;
  border-radius: 10px;
}
